#text-column {
  max-width: 550px;
  margin: 0 auto;
}

h1 {
	font-family: Georgia, Times, "Times New Roman", serif;
	font-size: 68px;
	font-style: normal;
	font-variant: small-caps;
	font-weight: 700;
	line-height: 49px;
}

body {
  background: #D6EAF8;
  font-family: Georgia, Times, "Times New Roman", serif;
  font-size: 30px;
  color: #FFA003;
  -webkit-font-smoothing: antialiased;
}

a {
  color: #D6EAF8;
}

a:hover {
  color: #D6EAF8;
}

a:visited {
  color: #EAF2F8;
}

h3 {
  font-size: 20px;
}
