
@keyframes move
{
25%  {top:0;left:100%; width:200px;height:150px;}
50%  {top:100%;right:0; width:200px; height: 250px;}
75% {bottom:0; right:100%; width: 350px; height:250px;}
100% {bottom:100%; left:0; width: 300px; height:350px;}
}

.germ {
    background: #D6EAF8;
    width: 25vh;
    height: 20vh;
    border-radius: 20vh;
    bottom: 100px;
    right: 80px;
    position: absolute;
    animation: move 5s infinite alternate-reverse;
    z-index: +12;

}
.germ:hover
{
   -webkit-animation-play-state: paused;
   -moz-animation-play-state: paused;
   -o-animation-play-state: paused;
    animation-play-state: paused;
}


.germ2 {
    background: green;
    width: 25vh;
    height: 20vh;
    border-radius: 20vh;
    bottom: 100px;
    right: 80px;
    position: absolute;
    animation: move 5s infinite alternate-reverse;
    z-index: +11;
}
.germ2:hover
{
   -webkit-animation-play-state: paused;
   -moz-animation-play-state: paused;
   -o-animation-play-state: paused;
    animation-play-state: paused;
}
.germ3 {
    background: pink;
    width: 25vh;
    height: 20vh;
    border-radius: 20vh;
    bottom: 100px;
    right: 80px;
    position: absolute;
    animation: move 5s infinite alternate-reverse;
    z-index: +10;
}
.germ3:hover
{
   -webkit-animation-play-state: paused;
   -moz-animation-play-state: paused;
   -o-animation-play-state: paused;
    animation-play-state: paused;
}

.germ4 {
    background: yellow;
    width: 25vh;
    height: 20vh;
    border-radius: 20vh;
    bottom: 100px;
    right: 80px;
    position: absolute;
    animation: move 5s infinite alternate-reverse;
    z-index: +9;

}
.germ4:hover
{
   -webkit-animation-play-state: paused;
   -moz-animation-play-state: paused;
   -o-animation-play-state: paused;
    animation-play-state: paused;
}


.germ5 {
    background: white;
    width: 25vh;
    height: 20vh;
    border-radius: 20vh;
    bottom: 100px;
    right: 80px;
    position: absolute;
    animation: move 5s infinite alternate-reverse;
    z-index: +8;
}
.germ5:hover
{
   -webkit-animation-play-state: paused;
   -moz-animation-play-state: paused;
   -o-animation-play-state: paused;
    animation-play-state: paused;
}
.germ6 {
    background: gray;
    width: 25vh;
    height: 20vh;
    border-radius: 20vh;
    bottom: 100px;
    right: 80px;
    position: absolute;
    animation: move 5s infinite alternate-reverse;
    z-index: +7;
}
.germ6:hover
{
   -webkit-animation-play-state: paused;
   -moz-animation-play-state: paused;
   -o-animation-play-state: paused;
    animation-play-state: paused;
}

.germ7 {
    background: black;
    width: 25vh;
    height: 20vh;
    border-radius: 20vh;
    bottom: 100px;
    right: 80px;
    position: absolute;
    animation: move 5s infinite alternate-reverse;
    z-index: +6;

}
.germ7:hover
{
   -webkit-animation-play-state: paused;
   -moz-animation-play-state: paused;
   -o-animation-play-state: paused;
    animation-play-state: paused;
}


.germ8 {
    background: orange;
    width: 25vh;
    height: 20vh;
    border-radius: 20vh;
    bottom: 100px;
    right: 80px;
    position: absolute;
    animation: move 5s infinite alternate-reverse;
    z-index: +5;
}
.germ8:hover
{
   -webkit-animation-play-state: paused;
   -moz-animation-play-state: paused;
   -o-animation-play-state: paused;
    animation-play-state: paused;
}
.germ9 {
    background: brown;
    width: 25vh;
    height: 20vh;
    border-radius: 20vh;
    bottom: 100px;
    right: 80px;
    position: absolute;
    animation: move 5s infinite alternate-reverse;
    z-index: +4;
}
.germ9:hover
{
   -webkit-animation-play-state: paused;
   -moz-animation-play-state: paused;
   -o-animation-play-state: paused;
    animation-play-state: paused;
}.germ10 {
    background: purple;
    width: 25vh;
    height: 20vh;
    border-radius: 20vh;
    bottom: 100px;
    right: 80px;
    position: absolute;
    animation: move 5s infinite alternate-reverse;
    z-index: +3;

}
.germ10:hover
{
   -webkit-animation-play-state: paused;
   -moz-animation-play-state: paused;
   -o-animation-play-state: paused;
    animation-play-state: paused;
}


.germ11 {
    background: #F1329B;
    width: 25vh;
    height: 20vh;
    border-radius: 20vh;
    bottom: 100px;
    right: 80px;
    position: absolute;
    animation: move 5s infinite alternate-reverse;
    z-index: +2;
}
.germ11:hover
{
   -webkit-animation-play-state: paused;
   -moz-animation-play-state: paused;
   -o-animation-play-state: paused;
    animation-play-state: paused;
}
.germ12 {
    background: #ACD5C8;
    width: 25vh;
    height: 20vh;
    border-radius: 20vh;
    bottom: 100px;
    right: 80px;
    position: absolute;
    animation: move 5s infinite alternate-reverse;
    z-index: +1;
}
.germ12:hover
{
   -webkit-animation-play-state: paused;
   -moz-animation-play-state: paused;
   -o-animation-play-state: paused;
    animation-play-state: paused;
}
