
body {
	background: black;
}

.canvas {
	width: 900px;
	height: 556px;
	margin: 100px auto;
	background: #52BE80;
	position: relative;
}

#door {
    width: 200px;
    height: 400px;
    background: #7B0B28;
    top: 156px;
    left: 600px;
    position: absolute;
}

#handle {
    width: 20px;
    height: 20px;
    background: gold;
    border-radius: 200px;
    top: 347px;
    left: 756px;
    position: absolute;
    z-index: +2;
}
