
body {
	background: black;
}

.canvas {
	width: 900px;
	height: 556px;
	margin: 100px auto;
	background: #52BE80;
	position: relative;
}

#door {
    width: 200px;
    height: 400px;
    background: #7B0B28;
    top: 156px;
    left: 600px;
    position: absolute;
}

#handle {
    width: 20px;
    height: 20px;
    background: gold;
    border-radius: 200px;
    top: 347px;
    left: 756px;
    position: absolute;
    z-index: +2;
}
.chest {
    width: 150px;
    height: 100px;
    background: #6E2C00;
    top: 456px;
    left: 224px;
    position: absolute;
    z-index: +2;
}

.metalwork {
    width: 150px;
    height: 10px;
    background: #85929E;
    top: 495px;
    left: 224px;
    position: absolute;
    z-index: +2;
}
.latch {
    width: 15px;
    height: 15px;
    background: gold;
    top: 493px;
    left: 291px;
    position: absolute;
    z-index: +2;
}
